jk{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.jk p{
    font-style: italic;
    font-size:x-large;
    color: rgb(33, 28, 30);
    
}
.jk img{
    width: 700px;
    height:500px;
}

.jk h1{
    font-size: x-large;
}
.jk_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.jk_main p{
    font-style: italic;
    font-size: x-large;
}

 .image img{
    width: 600px;
    position: relative;
    top: 60px;
    height:auto;
    filter:drop-shadow(10px 10px 10px rgb(173, 72, 72));
}
/*
#bengali{
    width: 65%;
*/
.jk_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.jk_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

 .jk_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
    color:indigo;
    font-style: oblique;
    font-size:x-large;
}

