.tamil{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.tamil h1{
    font-size: x-large;
}

 .tamil_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tamil_main p{
    font-style: italic;
    font-size: larger;
    color: rgb(33, 26, 30);
}
.tamil p{
    font-style: italic;
    font-size:x-large;
    color: rgb(27, 22, 25);
    
}
.tamil img{
    width: 700px;
    height:500px;
}
 .image img{
    width: 600px;
    position: relative;
    top: 60px;
    height:auto;
    filter:drop-shadow(10px 10px 10px rgb(173, 72, 72));
}
/*
#bengali{
    width: 65%;
*/
 .tamil_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

 .tamil_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.tamil_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
    color:indigo;
    font-style: oblique;
    font-size:x-large;
}

